autopep8==1.5.7
certifi==2021.5.30
chardet==4.0.0
colorama==0.4.4
idna==2.10
playsound==1.2.2
pycodestyle==2.7.0
python-http-client==3.3.2
PyYAML==5.4.1
requests==2.25.1
ruamel.yaml==0.17.7
ruamel.yaml.clib==0.2.2
sendgrid==6.7.1
starkbank-ecdsa==1.1.1
toml==0.10.2
urllib3==1.26.5
vext==0.7.6
vext.gi==0.7.4
